{% extends 'admin_base.html.twig' %}

{% block title %}Nouvel article
{% endblock %}

{% block body %}
	<main class="p-5 w-100">
		<h1>Créer un nouvel article</h1>

		{{ include('article_crud/_form.html.twig') }}

		<a class="btn btn-secondary" href="{{ path('app_article_crud_index') }}">Retour à la liste</a>
	</main>
{% endblock %}
