{% extends 'base.html.twig' %}

{% block title %}Calendrier & résultats -
	{{team[0].name}}
{% endblock %}

{% block body %}

	<main class="w-100 pb-5">
		<div class="mt-5 mb-4 w-100 container-md">
			<h1>Calendrier & résultats -
				{{team[0].name}}</h1>
		</div>
		<div class="row justify-content-center"></div>
	</main>
{% endblock %}
