<footer class="mt-auto">
	<div class="footer-partners d-flex justify-content-center flex-wrap gap-3 py-3 px-3">
		<a href="/"><img src="/assets/images/sponsors/faun_logo.png" alt=""></a>
		<a href="/"><img src="/assets/images/sponsors/groupe_nicollin.png" alt=""></a>
		<a href="/"><img src="/assets/images/sponsors/magasinu.png" alt=""></a>
		<a href="/"><img src="/assets/images/sponsors/metropole_mini.png" alt=""></a>
		<a href="/"><img src="/assets/images/sponsors/nike3.png" alt=""></a>
		<a href="/"><img src="/assets/images/sponsors/partouchesport-fr_logotype_blanc_vide_cmjn_mini_copie.png" alt=""></a>
		<a href="/"><img src="/assets/images/sponsors/proman.png" alt=""></a>
		<a href="/"><img src="/assets/images/sponsors/region_occitanie_0.png" alt=""></a>
		<a href="/"><img src="/assets/images/sponsors/smart_good_things_logo_mini.png" alt=""></a>
		<a href="/"><img src="/assets/images/sponsors/sud_de_france_mini.png" alt=""></a>
	</div>
	<div class="container footer-nav px-4 py-4 d-lg-flex flex-lg-wrap align-items-center justify-content-between">
		<div class=" d-flex align-items-center justify-content-between gap-4 mb-4   col col-12 col-lg-4">
			<a class="w-25" href="/"><img class="img-fluid" src="/assets/images/logo.png" alt=""></a>
			<div class="site d-flex gap-2 w-75 justify-content-between">
				<div class="title fs-5">
					<p>MHSCFOOT.COM</p>
					<p>SITE OFFICIEL</p>
				</div>
				<ul class="navbar-nav d-flex flex-row flex-wrap justify-content-between fs-4">
					<li class="nav-item w-50">
						<a class="nav-link d-flex" href="#">
							<i class="fa-brands fa-twitter m-auto"></i>
						</a>
					</li>
					<li class="nav-item w-50">
						<a class="nav-link d-flex" href="#">
							<i class="fa-brands fa-facebook-f m-auto"></i>
						</a>
					</li>
					<li class="nav-item w-50">
						<a class="nav-link d-flex" href="#">
							<i class="fa-brands fa-youtube m-auto"></i>
						</a>
					</li>
					<li class="nav-item w-50">
						<a class="nav-link d-flex" href="#">
							<i class="fa-brands fa-instagram m-auto"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="d-none d-lg-block col-lg  col-lg-4"></div>
		<div class="row  col col-12 col-lg-4">
			<div class="col">
				<ul class="nav flex-column ">
					<li class="nav-item mb-2">
						<a href="/" class="nav-link p-0 text-muted">MONTPELLIER HSC</a>
					</li>
					<li class="nav-item mb-2">
						<a href="/boutique" class="nav-link p-0 text-muted">BOUTIQUE</a>
					</li>
					<li class="nav-item mb-2">
						<a href="/billetterie" class="nav-link p-0 text-muted">BILLETTERIE</a>
					</li>
				</ul>
			</div>
			<div class="col">
				<ul class="nav flex-column  justify-content-center">
					<li class="nav-item mb-2">
						<a href="/contact" class="nav-link p-0 text-muted">CONTACT</a>
					</li>
					<li class="nav-item mb-2">
						<a href="/compte" class="nav-link p-0 text-muted">COMPTE MHSC</a>
					</li>
					<li class="nav-item mb-2">
						<a href="/partenaires" class="nav-link p-0 text-muted">PARTENAIRES</a>
					</li>
				</ul>
			</div>
		</div>
		<div class=" mt-4 d-lg-flex justify-content-lg-between col col-12">
			<p class="text-white">
				<a href="#" class="text-white">Gestion cookies</a>
				·
				<a href="#" class="text-white">Confidentialité</a>
				·
				<a href="#" class="text-white">Mentions légales</a>
			</p>
			<p class="text-white">© 2022 MONTPELLIER HSC, tous droits reservés.</p>
		</div>
	</div>
</footer>
