<nav class="d-flex flex-column align-items-center flex-shrink-0 text-white bg-secondary" style="width: 280px;">

	<div class=" d-flex align-items-center justify-content-between gap-4 mb-4 pt-4 px-4">

		<a class="w-25" href="/"><img class="img-fluid" src="/assets/images/logo.png" alt=""></a>


		<div class="site d-flex gap-2 w-75 justify-content-between">
			<div class="title fs-5">
				<h5 class="mb-0">MHSCFOOT.COM</h5>
				<h5 class="mb-0">SITE OFFICIEL</h5>
			</div>

		</div>
	</div>

	<h3 class="mb-4">ADMINISTRATION</h3>
	<div class="d-flex flex-column h-100 w-100 bg-primary pt-4">

		<div class="container   px-5  pb-5">
			<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
				<li class="w-100 submenu">
					<a href="#submenu1" class="nav-link px-0 align-middle d-flex gap-2 align-items-center">

						<span>POSTS</span>
					</a>
					<ul class="nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
						<li class="w-100">
							<a href="/administration/article" class="nav-link px-0 d-flex gap-3">
								<i class="fa-solid fa-newspaper"></i>
								Articles</a>
						</li>
						<li>
							<a href="/administration/gallerie" class="nav-link px-0 d-flex gap-3">
								<i class="fa-solid fa-image"></i>
								Galeries photos</a>
						</li>
						<li>
							<a href="/administration/video" class="nav-link px-0 d-flex gap-3">
								<i class="fa-solid fa-film"></i>
								Vidéos</a>
						</li>
						<li>
							<a href="#" class="nav-link px-0 d-flex gap-3">
								<i class="fa-solid fa-tags"></i>
								Catégories</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>


	</div>
</nav>
