<nav class="d-flex flex-column align-items-center flex-shrink-0 text-white bg-secondary" style="width: 280px;">


	<a class=" d-flex align-items-center justify-content-between gap-4 mb-4 pt-4 px-4" href="/"><img class="img-fluid w-25" src="/assets/images/logo.png" alt="">


		<div class="site d-flex gap-2 w-75 justify-content-between">
			<div class="title fs-5">
				<h5 class="mb-0 text-white ">MHSCFOOT.COM</h5>
				<h5 class="mb-0 text-white ">SITE OFFICIEL</h5>
			</div>

		</div>
	</a>

	<h3 class="mb-4 text-white ">ADMINISTRATION</h3>
	<div class="d-flex flex-column h-100 w-100 bg-primary pt-4">

		<div class="container   px-5  pb-5">
			<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
				<li class="w-100 submenu">
					<a href="#submenu1" class="nav-link px-0 align-middle d-flex gap-2 align-items-center">
						ACTUALITES
					</a>
					<ul class="nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
						<li class="w-100">
							<a href="/administration/article" class="nav-link px-0 d-flex align-items-center gap-3">
								<i class="fa-solid fa-newspaper"></i>
								Articles</a>
						</li>
						<li>
							<a href="/administration/gallerie" class="nav-link px-0 d-flex align-items-center gap-3">
								<i class="fa-solid fa-image"></i>
								Galeries photos</a>
						</li>
						<li>
							<a href="/administration/video" class="nav-link px-0 d-flex align-items-center gap-3">
								<i class="fa-solid fa-film"></i>
								Vidéos</a>
						</li>
						<li>
							<a href="/administration/categorie" class="nav-link px-0 d-flex align-items-center gap-3">
								<i class="fa-solid fa-tags"></i>
								Catégories</a>
						</li>
					</ul>
				</li>
				<li class="w-100 submenu">
					<a href="#submenu1" class="nav-link px-0 align-middle d-flex gap-2 align-items-center">
						EQUIPES
					</a>
					<ul class="nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
						<li class="w-100">
							<a href="/administration/equipes" class="nav-link px-0 d-flex align-items-center gap-3">
								<i class="fa-solid fa-shield-halved"></i>
								Equipes</a>
						</li>
					</ul>
				</li>
				<li class="w-100 submenu">
					<a href="#submenu1" class="nav-link px-0 align-middle d-flex gap-2 align-items-center">
						PERSONNES
					</a>
					<ul class="nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
						<li class="w-100">
							<a href="/administration/joueurs" class="nav-link px-0 d-flex align-items-center gap-3">
								<i class="fa-solid fa-person-running"></i>
								Joueurs</a>
						</li>
						<li>
							<a href="/administration/staff" class="nav-link px-0 d-flex align-items-center gap-3">
								<i class="fa-solid fa-person-cane"></i>
								Staff</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>


	</div>
</nav>
