{% extends 'admin_base.html.twig' %}

{% block title %}Modifier vidéo
{% endblock %}

{% block body %}
	<main class="p-5 w-100">
		<h1>Modifier vidéo</h1>

		{{ include('video_crud/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a class="btn btn-secondary mb-2" href="{{ path('app_video_crud_index') }}">Retour à la liste</a>

	</main>
{% endblock %}
