{% extends 'base.html.twig' %}

{% block title %}
	{{singlePage.title}}
{% endblock %}
{% block body %}
	<main class="w-100">
		<div class="page-{{singlePage.slug}} ">
			<article class="page__article">

				<div class="page__article__header container-md my-4">
					<h1>{{singlePage.title}}</h1>
				</div>
				<div class="page__article__content">
					{{singlePage.content | raw}}
				</div>
			</article>

		</div>
	</main>
{% endblock %}
