<form method="post" action="{{ path('app_product_crud_delete', {'id': product.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette catégorie ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
	<button class="dropdown-item text-danger">Supprimer</button>
</form>
