{% extends 'admin_base.html.twig' %}

{% block title %}Modifier galerie photos
{% endblock %}

{% block body %}
	<main class="p-5 w-100">
		<h1>Modifier galerie photos</h1>

		{{ include('gallery_crud/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a class="btn btn-secondary mb-2" href="{{ path('app_gallery_crud_index') }}">Retour à la liste</a>

	</main>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
