{% extends 'admin_base.html.twig' %}

{% block title %}New Post
{% endblock %}

{% block body %}
	<main class="p-5">
		<h1>Create new Post</h1>

		{{ include('gallery_crud/_form.html.twig') }}

		<a href="{{ path('app_gallery_crud_index') }}">back to list</a>
	</main>
{% endblock %}
