{% extends 'admin_base.html.twig' %}
{% block title %}Hello AdminController!
{% endblock %}
{% block body %}

	<main class="d-flex flex-column align-items-center justify-content-center w-100">
		<h1>Panneau d'administration</h1>
		<p>Bienvenue sur le panneau d'administration</p>
	</main>

{% endblock %}
