{% extends 'admin_base.html.twig' %}

{% block title %}Nouvelle page
{% endblock %}

{% block body %}
	<main class="p-5 w-100">
		<h1>Créer une nouvelle page</h1>

		{{ include('single_page_crud/_form.html.twig') }}

		<a class="btn btn-secondary" href="{{ path('app_single_page_crud_index') }}">Retour à la liste</a>
	</main>
{% endblock %}
