
$primary: #075385;
$primary-dark: #064A76;
$primary-light: #09619B;
$secondary: #FF4C01;
$secondary-dark: #FF0000;
$secondary-light: #FF5E00;
$tertiary: #FFFFFF;
$tertiary-dark: #000000;
$tertiary-light: #f5f5f5;
$light : #f5f5f5;

// Boostrap colors
$theme-colors: (
    "primary": $primary,
    "primary-dark": $primary-dark,
    "primary-light": $primary-light,
    "secondary": $secondary,
    "secondary-dark": $secondary-dark,
    "secondary-light": $secondary-light,
    "tertiary": $tertiary,
    "tertiary-dark": $tertiary-dark,
    "tertiary-light": $tertiary-light,

    "success": #28a745,
    "info": #17a2b8,
    "warning": #ffc107,
    "danger": #dc3545,
    "light": $light,
    "dark": #343a40,
);

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
// Import bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

:root{
    --text-font : 'Roboto', sans-serif;
    --headers-font : 'Finlandica', sans-serif;
}

*{
    font-family: var(--text-font) ;
}

// Design général des titres
h1,h2,h3,h4,h5{
    font-family: var(--headers-font);
    font-weight: 600 !important;
    text-transform: uppercase;
    color: $primary;
}

h1{
    font-size: calc(1.6rem + 1.5vw) !important;
    font-style: italic !important;
    color : $primary;
    text-shadow:
        5px -4px 0px $tertiary,
        4px -5px 0px rgba($color: $secondary, $alpha: 0.5),
        6px -5px 0px rgba($color: $secondary, $alpha: 0.5),
        4px -3px 0px rgba($color: $secondary, $alpha: 0.5),
        6px -3px 0px rgba($color: $secondary, $alpha: 0.5);
}
.title-primary{
    color: $tertiary;
    text-shadow:
        5px -4px 0px $primary,
        4px -5px 0px rgba($color: $secondary, $alpha: 0.5),
        6px -5px 0px rgba($color: $secondary, $alpha: 0.5),
        4px -3px 0px rgba($color: $secondary, $alpha: 0.5),
        6px -3px 0px rgba($color: $secondary, $alpha: 0.5);
}
.title-secondary{
    color: $tertiary;
    text-shadow:
        5px -4px 0px $secondary,
        4px -5px 0px rgba($color: $tertiary, $alpha: 0.5),
        6px -5px 0px rgba($color: $tertiary, $alpha: 0.5),
        4px -3px 0px rgba($color: $tertiary, $alpha: 0.5),
        6px -3px 0px rgba($color: $tertiary, $alpha: 0.5);
}
.title-home-article{
    color: $tertiary;
    text-shadow:
        5px -4px 0px rgba($color: $secondary, $alpha: 0.3),
}
.title-tertiary{
    color: $secondary;
    text-shadow:
        5px -4px 0px rgba($color: $light, $alpha: 1),
}

.title-mini-primary{
    font-size: 1.5em !important;
    color: $white;
    text-shadow:
        3px -2px 0px $primary,
        2px -3px 0px rgba($color: $secondary, $alpha: 0.7),
        4px -2px 0px rgba($color: $secondary, $alpha: 0.7),
        2px -1px 0px rgba($color: $secondary, $alpha: 0.7),
        3px -1px 0px rgba($color: $secondary, $alpha: 0.7);
}
.title-mini-secondary{
    font-size: 1.5em !important;
    color: $tertiary;
    text-shadow:
        3px -2px 0px $secondary,
        2px -3px 0px rgba($color: $secondary, $alpha: 0.5),
        4px -2px 0px rgba($color: $secondary, $alpha: 0.5),
        2px -1px 0px rgba($color: $secondary, $alpha: 0.5),
        3px -1px 0px rgba($color: $secondary, $alpha: 0.5);
}
.title-mini-tertiary{
    font-size: 1.5em !important;
    color: $secondary;
    text-shadow:
        3px -2px 0px $tertiary,
        2px -3px 0px rgba($color: $primary, $alpha: 0.5),
        4px -2px 0px rgba($color: $primary, $alpha: 0.5),
        2px -1px 0px rgba($color: $primary, $alpha: 0.5),
        3px -1px 0px rgba($color: $primary, $alpha: 0.5);
}

// Design général des liens
a{
    text-decoration: none !important;
}
.link{
    text-transform: uppercase;
    color: $primary;
    text-decoration: none;
    font-weight: 500;
}
.link-secondary{
    color: $secondary;
    margin-top: 0.5em;
}

// Design général des boutons
.btn{
    border-radius: 0 !important;
    border: none !important;
}
.btn-primary{
    border-left: 0.4em $secondary solid !important;
}
.btn-secondary{
    border-left: 0.4em $primary solid !important;
    color:white !important;
}
.btn-tertiary, .btn-tertiary-light{
    border-left: 0.4em $primary solid !important;
    color: $primary !important;
    
}
.btn-mini{
    font-size : 0.75em !important;
    padding: 0.25em 0.5em !important;
}


// Header
header{
    height:100px; 
    img{
    height:80px;}
    .nav-link{
        font-weight: 500;
        color: $primary;
        &:hover, &:focus{
            color : $secondary;
        }
    }
    .menu{
        margin-right: 1em;
        font-weight: 700;
    }
    .fa-circle-user{
        font-size: 2em;
        color: $primary;
        &:hover, &:focus{
            color : $secondary;
        }
    }
}

// Footer
footer{
    border-bottom: 0.5em rgba($color: $secondary, $alpha: 1) solid;
    background: $primary;
    background: linear-gradient(180deg, $primary 0%,  $primary-dark 100%);
    .footer-partners{
        background-color: $tertiary-light;
    }
    .nav-link{
        font-weight: 500;
        color: white !important;
        &:hover, &:focus{
            color : $secondary;
        }
    }
    .fa-brands{
        color: $secondary;
    }
    .site{
        border-bottom: 3px rgba($color: $secondary, $alpha: 1) solid;

    }
    .title{
        margin: 0.5em 0;
        color: white;
        font-weight: bold;
        p{
            font-family: var(--headers-font);
            margin-bottom: 0;
        }
    }
    .logo{
        max-height: 80px;
        max-width: 80px;

        @media screen and (min-width: 768px) {
            max-height: 100px;
            max-width: 100px;
        }
        @media screen and (min-width: 992px) {
            max-height: 150px;
            max-width: 150px;
        }
    }
}

// Menu
body{
    height: 100%;
    >nav{
        .nav-link{
            color: $tertiary;
            font-weight: bold;
            &:hover, &:focus{
                color: $tertiary-light;
            }
        }
        .submenu{
            border-bottom: 1px rgba($color: #fff, $alpha: .3) solid;
        }
        .fa-brands{
            color: $secondary;
            font-size: 1.8em;
        }
    }
}

main{
    min-height: 100vh;
}

// FORMULAIRES
input, textarea, select{
    background-color: $tertiary-light !important;
    border : none  !important;
    border-left: $primary 3px solid  !important; 
    border-radius : 0 !important;
}
input[type=checkbox]{
    border-left: $primary 0px solid  !important; 
    background-color: $primary !important;
}

// ADMIN PART
.edit-image-list{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    margin: 1em 0;
    h2{
        margin-top:1em;
    }
    div{
        background-color: $tertiary-light;
        padding: 1em;
        width: 100%;
        max-width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
        max-height: 100px;
        max-width: 150px;
        }
    }
}

.thumbnail-admin{
    max-height: 100px;
    max-width: 150px;
    }
    .photo-admin{
        max-height: 80px;
        max-width: 80px;
        }


// PAGE D'ACCUEIL
.home-article{
    height: calc(100vh - 100px);
    position: relative;
    &__link{
        
        width: 100%;
        height: 100%;
    }
    &__image{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__gradient{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba($color: $primary, $alpha: 0) 0%,  rgba($color: $primary, $alpha: 0.8) 100%);
    }
    &__infos{
        position: absolute;
        bottom: 3%;
        right: 5%;
        h1{
            text-align: right;
        }
        &__details{
            display: flex;
            align-items: center;
            gap : 1em;
            color: white;
        }
    }
}

.category{
    padding: 0.5em;
    background-color: $secondary;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    text-align: center;
}
.category-transparent{
    text-transform: uppercase;
    color: $secondary;
    font-weight: 500;
}

.category-disabled{
    
    padding: 0.2em 0.4em;
    font-size: 0.7em;
    background-color: $light;
    text-transform: uppercase;
        color: $primary;
        font-weight: 500;
        text-align: center;
}

.category-mini{
    background-color: $secondary;
    color: white;
    padding: 0.2em 0.4em;
    font-size: 0.7em;
    text-transform: uppercase;
    &:hover{
        color: white;
    }
}

.home-articles{
    padding: 2em 0.5em;
    gap: 1em;
    @media (min-width: 992px) { 
        height: 100vh;
        padding: 2em;
     }
    &__container{
        @media (min-width: 992px) { 
            max-height: 80vh;
         }
    }
    article{
        h4{
            color: white;
            font-size: 1.25em;
            margin-bottom: 0.2em;
        }
        p{
            margin-bottom: 0;
        }
    }
    &__column1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2em;
        @media (min-width: 992px) { 
            width: 35%;
        }
        >a{
            text-decoration: none;
            &:hover{
                color: white;
            }
        }
    } &__column2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2em;
        @media (min-width: 992px) { 
            width: 35%;
        }
        >a{
            text-decoration: none;
            &:hover{
                color: white;
            }
        }
    }
    &__link-1{
        min-height:300px;
        position: relative;
        @media (min-width: 992px) { 
            height: calc(61% + 2em);
        }
        background-color: $primary;
        &__article{
            height: 100%;
            width: 100%;
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            &__infos{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: $primary;
                color: white;
                padding:  1em;
                border-top: white 0.25em solid;
                p{
                    font-size: 0.8em;
                }
            }
            .category{
                
            position: absolute;
            top: -18px;
            right: 20px;
            }
        }
    }
    &__link-2{
        min-height: 150px;
        @media (min-width: 992px) { 
            height: 30%;
        }
        background-color: $secondary;
        color: white;
        &__article{
            position: relative;
            display: flex;
            height: 100%;
            width: 100%;
            min-height: 150px;
            img{
                display: block;
                position: absolute;
                top: 50%;
                transform: translate(0%, -50%);
                right: -10px;
                width: 45%;
                height: 70%;
                object-fit: cover;
                object-position: center;
            }
            &__infos{
                z-index: 1;
                padding: 1em;
                width: 100%;
                div{
                    width: 50%;
                }
                h4{
                    text-shadow:
                    2px 1px 0px rgba($color: black, $alpha: 0.2),
                }
                p{
                    
                    font-size: 0.8em;
                }
            }
            .category{
                z-index: 2;
                background-color: $primary;
                
                position: absolute;
                bottom: -10px;
                right: 5%;
            }
        }
    }
    &__link-3{
        @media (min-width: 992px) { 
            height: 30%;
        }
        position: relative;
        &__article{
            height: 100%;
            width: 100%;
            img{
                display: block;
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            &__gradient{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(180deg, rgba($color: $primary, $alpha: 0) 0%,  rgba($color: $primary, $alpha: 0.5) 100%);
            }
            h4{
                color: white;
                    text-shadow:
                    2px 1px 0px rgba($color: black, $alpha: 0.2);
                
                    position: absolute;
                bottom: 0;
                left: 0;
                padding: 0.75em;
            }
            .category{
                z-index: 1;
                position: absolute;
                top: 3%;
                right: 3%;
            }
        }
    }
    &__link-4{
        @media (min-width: 992px) { 
            height: 30%;
        }
        background-color: $primary;
        color: white;
        position: relative;
        display: flex;
        flex-direction: column;
        &__article{
            height: 100%;
            width: 100%;

            img{
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            div{
                height: 75%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                @media (min-width: 992px) { 
                    flex-direction: row;
                 }
                img{
                    // width: 50%;
                    @media (min-width: 992px) { 
                        width: 50%;
                     }
                }
                p{
                    padding: 0.5em 1em;
                    font-size: 0.8em;
                    @media (min-width: 992px) { 
                        width: 50%;
                     }
                }
            }
            h4{
                height: 20%;
                padding: 0.2em 1em;
            }
            .category{
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
   
    aside{
        background-color: $tertiary-light;
        @media (min-width: 992px) { 
            width: 30%;
         }
         
    }
}

.youtube-video{
    max-width: 100%;
}

.article-page{
    aside{
        width: 375px;
    }
}

.last-news-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

   .last-news-item{
       padding: 0.5em 0;
       border-top: rgba($color: black, $alpha: 0.1) 1px solid;
       
       h5{
           width: 75%;
           color: $primary;
           font-size: 0.8em;
           margin-bottom: 0;
       }
       p{
           align-self: flex-start;
           width: 23%;
           margin-left: 0.5em;
           margin-bottom: 0;
       }
   }
   >a:nth-last-child(1){
       border-bottom: rgba($color: black, $alpha: 0.1) 1px solid;
   }
}

// BLOCKQUOTE STYLE 
blockquote{
    width:100%;
    margin-top: 2em !important;
    color: #555555;
    padding:1em 5%;
    border-left:8px solid $secondary ;
    line-height:1.4;
    background:$tertiary-light;
}

>a:nth-last-child(1){
    border-bottom: rgba($color: black, $alpha: 0.1) 1px solid;
}
.news-page__list__news__new{
    
    padding: 1em 0;
    border-top: rgba($color: black, $alpha: 0.1) 1px solid;
    &__infos{
        width: 100%;
        h4{
            font-size: 1.25em;
        }
        >p{
            font-size: 0.75em;
        }
    }
    &__image{
        position: relative;
        border-bottom: $secondary 0.5em solid;
        @media (min-width: 768px) { 
            max-width: 35%;
            border-left: $secondary 0.5em solid;
            border-bottom: none;
         }
        @media (min-width: 992px) { 
            max-width: 25%;
         }
    }
}

.news-page__item__image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-page__item__type{
    padding: 0.2em 0.4em;
    color: white;
    background-color: $primary;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
}


// PLAYER CARD
.player-card{
    position: relative;
    width: 100%;
    max-width: 275px;
    height: 370px;
    padding: 2em;
    background-color: $white;
    &-blue{

        background-color: $primary-dark;
    }
    // background-image: url('/assets/images/player-card-white.png');
    &__background{
        position: absolute;
        display: block;
        width: 95%;
        height: 77%;
        object-fit: cover;
        bottom: 20%;
        right: 0;
        left:0;
        object-position: left;
    }
    &__infos{
        position: absolute;
        top: 5%;
        right: 10%;  
        &__number{
            font-size: 3em !important;
            margin-bottom: -5px !important;
        }
        &__age{
            font-size: 1.5em !important;
            margin-bottom: 0 !important;
        }
        }
    &__photo{
        position: absolute;
        bottom: 20%;
        left: 0%;
        height: 70%;   
        max-width: 95%;
        object-fit: cover;
    }
    &__player-name{     
        position: absolute;
        bottom: 0;
        left: 0;
        height: 20%; 
        width: 100%;  
        &__name{
            font-size: 1.7em !important;
        }
    }
}










// PAGE D'ACCUEIL
.home-results{
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: relative;
    
    @media (min-width: 1400px) { 
        height: 100vh;
     }

    &__background{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__content{
        position: relative;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;

        .logo-icon{
            max-height: 20px;
            max-width: 20px;
            object-fit: cover;
        }
        &__widgets{

            @media (min-width: 992px) { 
                height: 80%;
             }
            &__last-fixtures{
                width: 100%;
                
                @media (min-width: 768px) { 
                    width: 48%;
                    height: 450px;
                }
                @media (min-width: 1400px) { 
                width: 28%;
                 }
                 .score-table{
                    .score-row{
                        .comp{
                            width: 20%;
                        }
                        .team{
                            width: 25%;
                            font-size: 0.8em;
                        }
                        .score-box{
                            width: 20%;
                        }
                        .date{
                            font-size:0.7em;
                            font-weight: bold;
                            color: $primary;
                        }
                    }
                 }
            }
            &__next-fixture{
                width: 100%;
                order : -1;
                @media (min-width: 1400px) { 
                    height: 500px;
                    width: 42%;
                    order:0;
                 }
                 .next-fixture-box{
                     &__fixture{
                         &__team-box{
                             height: 100%;
                             width: 40%;
                             padding: 1em;
                             >img{
                                 max-width: 90px;
                                 max-height: 90px;
                                 object-fit: contain;
                                 @media (min-width: 768px) { 
                                    max-width: 120px;
                                    max-height: 120px;
                                  }
                             }
                             &__team-box{
                                &__team{
                                    font-size: 1em !important;
                                    @media (min-width: 992px) { 
                                        font-size: 1.5em !important;
                                     }
                                }
                             }
                         }
                     }
                 }
            }
            &__standing{
                width: 100%;
                @media (min-width: 768px) { 
                    height: 450px;
                    width: 48%;
                 }
                @media (min-width: 1400px) { 
                    width: 28%;
                }
            }
            .score{
                background-color: $light;
                color: $primary;
                text-align: center;
                font-weight: bold;
            }
        }
    }
}


.comp-icon{
    max-height: 20px;
    object-fit: cover;
}
.logo-icon{
    max-width: 10%;
    object-fit: cover;
}


.standings-logo-icon{
    max-height: 25px;
    max-width: 20px;
    object-fit: cover;
}


// SLIDER MATCHS 

.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	bottom: 50%;
	width: 100%;
	height: 0;
}
s{
    display: none;
  }
.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	position: absolute;
	width:       30px;
	height:      30px;
	line-height: 30px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
#s5:target ~ .bullets >*:nth-child(5) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
#s5:target ~ .prevNext >*:nth-child(5) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
#s5:target ~ .slider {transform: translateX(-400%); -webkit-transform: translateX(-400%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
	text-align: center;
    height: 100%;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	text-decoration: none;
}


.result{
    height: 13px;
    width: 13px;
    border-radius: 50%;
}


.result-score-row{
    .comp{
        width: 10%;
        height: 100%;
    }
    .result-comp-icon{
        max-height: 60px;
        max-width: 80px;
        object-fit: contain;
    }
    .result-logo-icon{
        max-height: 50px;
        max-width: 50px;
        object-fit: contain;
        @media (min-width: 768px) { 
            max-height: 100px;
            max-width: 100px;
        }
    }
    .score-box{
        width: 70%;

        border-bottom: rgba($color: black, $alpha: 0.1) 1px solid;
        &__score{
            .score{
                width: 100%;
                @media (min-width: 768px) { 
                    width: 20%;
                }
            }
            .team{
                width: 35%;
            }
        }
    }


}

.page__article{
    
    &__header{
        height: 300px;
        position: relative;
        &__image{
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                max-height: 300px;
                object-fit: cover;
                object-position: center;
        }
        &__title{
            height: 100%;
            h1{
                font-size: 3em !important;
                @media (min-width: 768px) { 
                    font-size: 5em !important;
                }
            }
            position: relative;
        }
    }
    &__content{


    }        
    .normal-page{
    }   
    .special-page{

// BLOCKQUOTE STYLE 
blockquote{
    width:100%;
    padding : 3em;
    // color: #555555;
    padding:1em 5%;
    border-left: none ;
    line-height:0;
    background:none;
    @media (min-width: 768px) { 
        padding:3em 20%;
    }
    display: flex;
    justify-content: space-between;
}

    }
}

.page-style-block-flex{
    > * {
        flex: 1 1 0;
        width: 0;
    }
}


.page__article{
    &__content{

        h1,h2,h3,h4,h5{
            border-left: 5px $secondary solid;
            padding: 0.25em 0;
            padding-left: 1em;
            margin: 0.75em 0;
            background-color: $light;
        }
        img{
            
            object-fit: cover;
            width: 100%;
        }
        iframe{
            max-width: 100%;
        }
    }
    .people{
        background-color: $light;
        padding: 1em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        // max-width: 300px;
        width: 100%;
        gap : 1em;
        @media (min-width: 768px) { 
            width: 50%;
        }
        @media (min-width: 1024px) { 
            width: 30%;
        }
        &__infos{
            text-align: right;
            width: 100%;
            p{
                margin-bottom: 0;
            }
            h4{
                border: none;
                padding: 0;
                margin-bottom: 0;
            }
        }
        img{
            max-height: 80px;
            max-width: 80px;
        }
    }
    .table-palmares{
        border : none !important;
        width: 100%;
        tbody{
            tr{
                td{
                    padding: 0.5em;
                }
                td:first-child{
                    color: $primary;
                    font-weight: bold;
                }
            }
        }
    }
}
