
$primary: #075385;
$primary-dark: #064A76;
$primary-light: #09619B;
$secondary: #FF4C01;
$secondary-dark: #FF0000;
$secondary-light: #FF5E00;
$tertiary: #FFFFFF;
$tertiary-dark: #000000;
$tertiary-light: #f5f5f5;

// Boostrap colors
$theme-colors: (
    "primary": $primary,
    "primary-dark": $primary-dark,
    "primary-light": $primary-light,
    "secondary": $secondary,
    "secondary-dark": $secondary-dark,
    "secondary-light": $secondary-light,
    "tertiary": $tertiary,
    "tertiary-dark": $tertiary-dark,
    "tertiary-light": $tertiary-light,
);

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,400;1,500;1,600;1,700&display=swap');
// Import bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

:root{
    --text-font : 'Roboto', sans-serif;
    --headers-font : 'Finlandica', sans-serif;
}

*{
    font-family: var(--text-font) ;
}

h1,h2,h3,h4,h5{
    font-family: var(--headers-font);
    font-weight: bold;
    text-transform: uppercase;
}

header{
    height:100px; 
    img{
    height:80px;}
    .nav-link{
        font-weight: bold;
        color: $primary;
        &:hover{
            color : $secondary;
        }
    }
    .menu{
        margin-right: 1em;
        font-weight: bolder;
    }
    .fa-circle-user{
        font-size: 2em;
        color: $primary;
        &:hover{
            color : $secondary;
        }
        &:active{
            color : $secondary;
        }
    }
}
