{% extends 'admin_base.html.twig' %}

{% block title %}Ajout joueur
{% endblock %}

{% block body %}
	<main class="p-5 w-100">
		<h1>Ajouter un joueur</h1>

		{{ include('player_crud/_form.html.twig') }}

		<a class="btn btn-secondary" href="{{ path('app_player_crud_index') }}">Retour à la liste</a>
	</main>
{% endblock %}
